body {
  height: 100vh;
  background: url('https://i.pinimg.com/originals/e8/07/57/e807579edb93300913645941f251c97d.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

